.button {
  border: none;
  border-radius: 12px;
  font-family: $font-second;
  line-height: 120%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: $media-large) {
    height: 52px;
  }

  svg {
    margin-left: 6px;

    &.arrow {
      width: 16px;
      height: 10px;
    }
  }

  &-main {
    padding: 0 30px;
    background: $yellow;
    color: $black;
    font-size: 18px;
    line-height: 120%;
    font-weight: $weight-medium;

    &--short {
      height: 50px;
    }
  }

  &-secondary {
    height: 47px;
    padding: 0 30px;
    background: $grey;
    color: $blue;
    font-size: 16px;
  }

  &-outline {
    height: 50px;
    padding: 0 30px;
    border: 1px solid $black;
    font-size: 16px;
    line-height: 120%;
    color: $black;
    background: transparent;
  }
}

.slider {
  width: 750px;

  @media (max-width: $media-desktop-small) {
    width: 420px;
    height: 362px;
  }

  @media (max-width: $media-large) {
    position: relative;
    display: flex;
    align-items: center;
  }

  &-card {
    width: 440px;
    min-height: 586px;
    padding: 20px;
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #4B4B4B;
    backdrop-filter: blur(5px);
    transition: .5s;

    @media (max-width: $media-desktop-small) {
      width: 220px;
      min-height: 302px;
      border-radius: 40px;

      img {
        max-height: 160px !important;
        border-radius: 20px !important;
      }
    }

    &__content {
      @media (max-width: $media-desktop-small) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    &__title {
      @media (max-width: $media-desktop-small) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    img {
      border-radius: 40px;
      max-height: 420px;
      width: 100%;
      transition: .5s;
    }

    &--small {
      width: 290px;
      min-height: 396px;

      @media (max-width: $media-desktop-small) {
        width: 182px;
        min-height: 265px;

        img {
          max-height: 140px !important;
        }
      }

      img {
        max-height: 250px;
      }
    }
  }

  &-control {
    @media (max-width: $media-desktop-small) {
      justify-content: center;
    }

    @media (max-width: $media-large) {
      position: absolute;
      width: 100%;
      padding: 0 !important;
      margin: 0 !important;
      justify-content: normal;

      &__progress-bar {
        display: none;
      }

      &__arrow {
        position: absolute;

        &:first-child {
          left: -60px;
        }

        &:nth-child(2) {
          right: -60px;
        }
      }
    }

    &__arrow {
      width: 40px;
      height: 40px;
      background: $white;
      border-radius: 10px;
      cursor: pointer;
    }

    &__progress-bar {
      width: 270px;
      height: 4px;
      background: rgba(255, 255, 255, 0.4);

      @media (max-width: $media-desktop-small) {
        width: 220px;
      }

      span {
        background: #FFFFFF;
        border-radius: 10px;
        height: 100%;
        display: block;
        transition: .4s;
      }
    }
  }

  .swiper {
    @media (max-width: $media-large) {
      //display: flex;
      //align-items: center;
    }
    &-wrapper {
      height: 586px;

      @media (max-width: $media-desktop-small) {
        height: 302px;
      }
    }
    //swiper-slide-next
    &-slide {
      &-active {
        display: grid;
        align-items: center;
      }
      &-next {
        justify-content: flex-end !important;
      }
      &:not(&-active) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.tariff {
  &-card {
    position: relative;
    min-width: 367px;
    max-width: 367px;
    min-height: 678px;
    max-height: 678px;

    background: $grey-light;
    border-radius: 30px;
    overflow: hidden;

    @media (max-width: $media-large) {
      min-width: 330px;
      max-width: 330px;
      min-height: 609px;
      max-height: 609px;

      h3 {
        margin-bottom: 20px;
      }
    }

    @media (max-width: $media-large) {
      h3 {
        @include h4($black);
        margin-bottom: 20px;
      }

      &__advantages {
        &__title {
          font-size: 16px !important;
        }
      }

      &__available {
        p {
          @include b7();
        }
      }

      .price {
        font-size: 40px !important;
      }

      .currency {
        @include b7();
      }
    }

    &.game-mode {
      background: $blue;

      h3, p {
        color: $white;
      }

      .tariff-card__available {
        background: rgba(255, 255, 255, 0.1) !important;
      }

      .tariff-card__advantages {
        border-bottom-color: rgba(255, 255, 255, 0.1) !important;
      }

      .button-secondary {
        background: rgba(255, 255, 255, 0.1) !important;
        color: $white;

        &:hover {
          border: 1px solid $white;
        }
      }
    }

    .game-mode {
      &__texture {
        right: 0;
        width: 100%;
        height: 100%;
      }
    }

    h3 {
      width: 80%;
      min-height: 58px;
    }

    img {
      width: 50px;
      position: absolute;
      top: 0;
      right: 15px;
    }

    .price {
      font-size: 50px;
      line-height: 120%;
      letter-spacing: -0.03em;

      &-old {
        //TODO Изменить шрифт на 'Inter'

        position: relative;
        color: $green;
        font-size: 21px;
        line-height: 130%;

        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          position: absolute;
          content: '';
          width: 110%;
          height: 2px;
          background: $green;
          margin-top: -4px;
        }
      }
    }

    &__advantages {
      padding: 12px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__available {
      padding: 10px 20px;
      background: $grey;
      border-radius: 100px;
    }
  }
}

.tabs {
  border-bottom: 2px solid $grey;

  @media (max-width: $media-medium) {
    flex-wrap: wrap;
    justify-content: flex-start !important;
    gap: 4px;
    border-bottom: none;
    margin-bottom: 30px;

    &__tab {
      height: 33px;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $grey-dark;
      padding: 0 16px !important;
      border: 1px solid rgba(75, 75, 75, 0.4);
      border-radius: 50px;

      &.active {
        border: 1px solid $blue !important;
      }
    }
  }

  &__tab {
    margin-bottom: -2px;
    cursor: pointer;

    span {
      color: $grey-dark;
      opacity: 0.4;
    }

    &.active {
      span {
        color: $blue;
        opacity: 1;
      }

      border-bottom: 2px solid $yellow;
    }
  }
}

.post {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 461px 461px;

    row-gap: 30px;
    column-gap: 40px;

    @media (max-width: $media-desktop-small) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &-card {
    box-shadow: 0px 8px 44px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    max-height: 461px;

    @media (max-width: $media-desktop-small) {
      img {
        min-height: 320px !important;
      }
    }

    @media (max-width: $media-medium) {
      max-height: 440px;

      img {
        min-height: 300px !important;
      }
    }

    @media (max-width: $media-small) {
      max-height: 400px;

      img {
        min-height: 242px !important;
      }
    }

    img {
      width: 100%;
      min-height: 300px;
      border-radius: 20px;
    }

    &--large {
      position: relative;
      grid-column-start: 1;
      grid-column-end: 3;

      img {
        min-height: 100% !important;
        max-height: 421px;
      }

      .content {
        position: absolute;
        bottom: 50px;
        left: 50px;
        max-width: 70%;

        * {
          color: $white;
        }
      }
    }
  }
}
